.app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: var(--light-default-text-212121, #212121);
    font-family: "Sergoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-default-text-212121, #212121);
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
}

.hero-section {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: white;
    margin-bottom: 40px;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.about-section,
.features-section,
.cta-section {
    padding: 40px 20px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.feature-card {
    width: 280px;
    padding: 20px;
    text-align: center;
}

.feature-card mat-icon {
    font-size: 48px;
    color: #3f51b5;
    margin-bottom: 12px;
    display: inline-block;
    line-height: 1;
    height: 48px;
    width: 48px;
  }

.cta-section button {
    margin-top: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
    color: #555;
    margin-top: 40px;
}