.navbar {}

.cacodev-logo {
    width: 100px;
    height: 28px;
}

.text-white {
    color: white;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link .material-icons {
    margin-right: 8px;
    /* adjust the space between the icon and the text */
}

.home {
    padding-left: 28px;
}

.vertical-bar {
    top: -1px;
    position: absolute;
    height: 60px;
    transform: rotate(7deg);
    left: 135px;
    width: 10px;
    z-index: 2;
    border-left: 8px solid #666567;
    background: #666567;
}

.horizontal-bar {
    position: absolute;
    top: 57px;
    background: #666567;
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    z-index: 2;
}