<section class="management-header">
    <h1>Management</h1>
    <p>Management of our people is done here.</p>
</section>

<div class="container">
    <p></p>
    <h3>MANAGEMENT</h3>
    <hr>

    <p>Welcome to the management page of Cacodev</p>

    <p>Please select an area to get started.</p>

    <div class="container-fluid">
        <div class="card-grid">
            <mat-card class="big-card" [routerLink]="'/management/members'">
                <mat-card-title class="card-title">Members</mat-card-title>
            </mat-card>
    
            <mat-card class="big-card" [routerLink]="'/management/member-types'">
                <mat-card-title class="card-title">Member Types</mat-card-title>
            </mat-card>
    
            <mat-card class="big-card" [routerLink]="'/management/users'">
                <mat-card-title class="card-title">Users</mat-card-title>
            </mat-card>
        </div>
    </div>


</div>