.member-types-header {
    background: linear-gradient(to right, #919596, #2575fc);
    padding: 50px 20px;
    color: white;
    text-align: center;
}

.member-types-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.member-type-card {
    padding: 10px;
    // border: 1px solid transparent;
}

.member-type-card:hover {
    border-color: #c9deec7a;
    background-color: #c9deec7a;
    border: 1px solid transparent;
    cursor: pointer;
}

.member-type-card-header {
    padding: 10px;
    background-color: #bebdbd;

    .member-type-row {
        font-weight: 500;
    }
}

.member-type-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.col {
    flex: 1;
    padding: 0 10px;
}

.actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}