<section class="member-types-header">
    <h1>Member Types Management</h1>
    <p>Here we manage all of our membership types.</p>
</section>

<div class="member-types-container">
    <div class="container-fluid">
        <div class="description">
            <h3>MEMBER TYPES</h3>
            <hr>
            <p>The list of member types is displayed below.</p>
            <p>You can also search members by different criterias.</p>
        </div>
    </div>
    <div class="float-right">
        <button mat-raised-button [routerLink]="'/management/add-member-type'">
            <mat-icon>add</mat-icon>
            New Member Type
        </button>
    </div>

    <mat-card class="member-type-card-header">
        <div class="member-type-row">
            <div class="col"><small>ID</small></div>
            <div class="col"><small>NAME</small></div>
            <div class="col"><small>DESCRIPTION</small></div>
            <div class="col"><small>DURATION IN MONTHS</small></div>
            <div class="col"><small>FEE</small></div>
            <div class="col"><small>STATUS</small></div>
            <div class="col actions"><small>ACTIONS</small></div>
        </div>
    </mat-card>

    <mat-card *ngFor="let type of memberTypes" class="member-type-card">
        <div class="member-type-row">
            <div class="col">{{ type.id }}</div>
            <div class="col">{{ type.name }}</div>
            <div class="col">{{ type.description }}</div>
            <div class="col">{{ type.membershipDurationMonths }}</div>
            <div class="col">{{ type.membershipFee | currency:'USD' }}</div>
            <div class="col">
                <mat-slide-toggle [checked]="type.isActive" [disabled]="togglingMemberIds.has(type.id)"
                    (change)="toggleEnable(type)">
                    {{ type.isActive ? 'Active' : 'Inactive' }}
                </mat-slide-toggle>
            </div>
            <div class="col actions">
                <button mat-icon-button aria-label="Edit">
                    <mat-icon class="blue-color">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Delete" (click)="deleteMemberType(type.id)">
                    <mat-icon class="red-color">delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>