<div class="main-container">
    <h3>Member Edit -- <small>Member ID: {{ memberId }}</small></h3>
    <hr>

    <span class="bold-text">Note:</span> Fields with <span class="red-color">*</span> are required.

    <div class="flex justify-between items-center mb-6 float-right">
        <span class="text-lg font-medium">Member Status: </span>
        <mat-slide-toggle [checked]="member.active" (change)="onToggleStatus()" color="primary">
            {{ member.active ? 'Active' : 'Inactive' }}
        </mat-slide-toggle>
    </div>
    <br>

    <div class="flex justify-center mt-10">
        <mat-card class="w-full max-w-md p-6 shadow-md rounded-xl">
            <form *ngIf="memberForm" [formGroup]="memberForm" (ngSubmit)="onSubmit()" class="grid gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">First Name</mat-label>
                    <input matInput formControlName="firstName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">Middle Name</mat-label>
                    <input matInput formControlName="middleName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">Last Name</mat-label>
                    <input matInput formControlName="lastName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label class="bold-text">Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="MALE">Male</mat-option>
                        <mat-option value="FEMALE">Female</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="button-group pt-4">
                    <button mat-raised-button color="primary" type="submit" [disabled]="memberForm.invalid">
                        <mat-icon>save</mat-icon>
                        Save Changes
                    </button>
                    <button mat-raised-button class="red-color" type="button" (click)="onCancel()">
                        <mat-icon class="red-color">close</mat-icon>
                        Cancel
                    </button>
                </div>
            </form>
        </mat-card>
    </div>

</div>